.navbar {
    position: relative;
  }
  
  .navbar button {
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
    background: transparent;
    border: none;
  }
  
  .menu-nav {
    overflow-y: visible;
    list-style: none;
    position: fixed;
    background: transparent;
    left: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 200px;
    z-index: 9;
    margin-top: 0px;
  }
  
  .menu-nav.show-menu {
    width: 100%;
    background-color: lightgray;
    opacity: .75;
  }
  
  .menu-nav li:first-child {
    margin-top: 7rem;
  }

  .insta {
    margin-top: 14rem;
    opacity: 0%;
  }

  .insta.show-insta {
    margin-top: 14rem;
    opacity: 100%;
  }